.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "mainNav mainNav mainNav"
    "sidebar content content"
    "footer footer footer";
  gap: 10px;
}

.header {
  grid-area: header;
  padding: 20px;
  background-color: #8ca0ff;
}

.mainNav {
  grid-area: mainNav;
  padding: 20px;
  background-color: #ffa08c;
}

.sidebar {
  grid-area: sidebar;
  padding: 20px;
  background-color: #ffa08c;
}

.content {
  grid-area: content;
  padding: 20px;
  background-color: #8cffa0;
}

.footer {
  grid-area: footer;
  padding: 20px;
  background-color: #8c8cff;
}