.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "featured"
    "mainNav"
    "content"
    "footer";
}

.grid-container.sidebar-on {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "featured featured featured"
    "mainNav mainNav mainNav"
    "sidebar content content"
    "footer footer footer";
}

.header {
  grid-area: header;
  padding: 20px;
}

.featured {
  grid-area: featured;
  height: 300px;
}

.mainNav {
  grid-area: mainNav;
  padding: 20px;
}

.sidebar {
  grid-area: sidebar;
  padding: 20px;
}

.content {
  grid-area: content;
  padding: 20px;
}

.footer {
  grid-area: footer;
  padding: 20px;
}