.grid-container {
  background-color: #282c34;
  color: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

header, footer {
  grid-column: 1 / span 2;
}

.column {
  align-self: start;
}
